* {
	padding:0;
	margin:0;
}


body, html {
	width:100%;
	height:100%;
	background-image:url(marvel.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
	font-family:Trebuchet MS;
}

.sup {
	width:100%;
	height:50%;
	position:relative;
}

#marvel {
	position:absolute;
	transform:translate(50%, 50%);
	right:50%;
	bottom:50%;
	width:30%;
	height:10%;
	padding:20px;
	font-size:200%;
}

#resultat {
	height:29%;
	width:100%;
	position:absolute;
	transform:translateX(50%);
	right:50%;
	bottom:12%;
	width:30%;
	overflow:auto;
}

#resultat li {
	list-style-type:none;
	padding: 0 10px;
	background:white;
}

.inf {
	width:100%;
	height:50%;
	position:relative;
}

#informations {
	height:80%;
}


.title {
	width:100%;
	text-align:center;
	padding: 2% 0;
	font-size:200%;
	color:white;
	font-weight:bold;
}

.description {
	width:50%;
	height:100%;
	float:right;
	border:3px solid white;
	padding:20px;
	box-sizing: border-box;
	color:white;
	font-weight:bold;
	background-color:rgba(0,0,0,0.4);
}

.thumbnail {
	width:50%;
	height:100%;
	float:left;
	border:3px solid white;
	box-sizing: border-box;
	color:white;
	overflow:hidden;
	display:flex;
	background-color:rgba(0,0,0,0.4);
}

.thumbnailflex {
	width:400px;
	position:relative;
	margin:auto;
	display:block;
}

.thumbnailflex img {
	width:100%;
	height:100%;
}


